.u-section-1 {
  background-image: url("images/background.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1077px;
}

.u-section-1 .u-text-1 {
  margin: 148px 323px 0;
}

.u-section-1 .u-text-2 {
  margin: 40px 168px 0 169px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 25px auto 0 487px;
}

.u-section-1 .u-video-1 {
  width: 752px;
  height: 423px;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-text-1 {
    width: 494px;
    margin-left: 223px;
    margin-right: 223px;
  }

  .u-section-1 .u-text-2 {
    width: 803px;
    margin-left: 69px;
    margin-right: 68px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 387px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1081px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 207px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-1 .u-video-1 {
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 221px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 187px;
  }

  .u-section-1 .u-video-1 {
    margin-top: -33px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 193px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 25px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 48px;
    margin-left: auto;
  }

  .u-section-1 .u-video-1 {
    height: 194px;
    margin-top: 48px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}